 .u-section-1 {
  background-image: url("images/outerspace-70.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 458px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 3rem;
  margin: 120px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-countdown-1 {
  margin: 30px auto 39px;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-countdown-1 {
    margin-bottom: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-countdown-1 {
    margin-bottom: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 166px;
  }
}