 .u-section-1 {
  background-image: url("images/outerspace-70.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 515px;
}

.u-section-1 .u-form-1 {
  height: 403px;
  width: 570px;
  background-image: none;
  margin: 36px 285px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 185px;
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}